<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509752235114-66g71lnsi7c427p3u2g3sh5mflkor1qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509752235114-66g71lnsi7c427p3u2g3sh5mflkor1qh</string>
	<key>API_KEY</key>
	<string>AIzaSyDVqZnDlqArrfZq42GIVlHFgWdCBzM-CPM</string>
	<key>GCM_SENDER_ID</key>
	<string>509752235114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SL.DisturbMeMaybe</string>
	<key>PROJECT_ID</key>
	<string>disturbmemaybe</string>
	<key>STORAGE_BUCKET</key>
	<string>disturbmemaybe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509752235114:ios:40c38bf6965259c505e613</string>
	<key>DATABASE_URL</key>
	<string>https://disturbmemaybe.firebaseio.com</string>
</dict>
</plist>